#systemd script for the oddmon collector

# Note: run 'systemctl enable oddmon_collector.service' after installation
# if you want the aggregator to be started automatically
[Service]
Type=simple
#PIDFile=
#EnvironmentFile=
#ExecStartPre=
ExecStart=/usr/bin/monctl.py collect --cfgfile /etc/oddmon/oddmon.cfg
#ExecStartPost=
#ExecStop=
KillSignal=SIGINT
# SIGINT instead of the default SIGTERM because the code catches the
# KeyboardInterrupt exception that's generated with a SIGINT or CTRL-C.
RemainAfterExit=False

[Install]
WantedBy=multi-user.target

